<!DOCTYPE html>
<html>
<head>
  <title>Marksheet</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Marksheet</h1>
  <a href="/home">Home</a>
  <form method="get" action="/process-marksheet">
    English: <input type="number" name="mark1" min="0" max="100" required><br>
    Science: <input type="number" name="mark2" min="0" max="100" required><br>
    Social Science: <input type="number" name="mark3" min="0" max="100" required><br>
    Hindi: <input type="number" name="mark4" min="0" max="100" required><br>
    Maths: <input type="number" name="mark5" min="0" max="100" required><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
